@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
$border-color: #e5e5e5;
$text-black: #181818;
$gray: #969696;
$blue: #4c3fb1;
$accept-color: #aca1ff;
$accept-color-hover: #786dcf;
$accept-color-focus: #4c3fb1;

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 720px;
  border: 1px solid $border-color;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 20px 32px 20px 16px;
  .user {
    display: flex;
    .img {
      width: 52px;
      height: 52px;
      background: url("../Photo.png");
      border-radius: 50%;
      margin-right: 15px;
    }
    .details {
      span {
        font-size: 10px;
        display: block;
      }
      .name {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $text-black;
      }
      .post {
        line-height: 15px;
        color: $gray;
      }
      .connections {
        line-height: 18px;
        color: $blue;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    .btn {
      width: 90px;
      height: 32px;
      border-radius: 4px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      line-height: 32px;
      text-align: center;
      cursor: pointer;
    }
    .accept {
      background: $accept-color;
      border: 1px solid $accept-color;
      color: $blue;
      margin-right: 10px;
      &:hover {
        background: $accept-color-hover;
        border: 1px solid $accept-color-hover;
        color: white;
      }
      &:focus{
        background: $accept-color-focus;
        border: 1px solid $accept-color-focus;
        color: white;
      }
    }
    .decline {
      border: 1px solid #000000;
      border-radius: 4px;
    }
  }
}
